body{
    color: black ;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.titulo{
    text-align: center;
}

.contendor-input{
    margin: 5px;
}

.boton-enviar{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.borde{
        
    border: 1px solid black
}
.sumaT{
    border: 5px solid black;
    margin-top: 30px;
    text-align: center;
    margin-block-end: 50px;
}
.resultado{
    border: 5px solid black ;
}